<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
    
    <!-- https://favicon.io/emoji-favicons/money-bag/ -->
    <script src="https://kit.fontawesome.com/277e6f7627.js" crossorigin="anonymous"></script>
    <script src="https://www.desmos.com/api/v1.8/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <link rel="stylesheet" href="..\static\style.css">
</head>
<body>
    <div class="MarkForReview">
        <header class="d-flex justify-content-center align-content-center">
            <span class="my-3">Section 1,Module 1: Reading and Writing Question</span>
        </header>
        <div class="fakeHrPurple w-100"></div>
        <div class="MFR-symbol d-flex justify-content-center align-content-center my-3">
            <div class="mx-4">
                <i class="fa-solid fa-location-dot" style="color: #bfa965;"></i><span class="">Current</span>
            </div>
            <div class="mx-4 d-flex">
                <div class="MFR-dashed-symbol-box mx-1"></div>
                <span class="mx-1">Unanswered</span>
            </div>
            <div class="mx-4">
                <i class="fa-solid fa-bookmark fa-xl" style="color: #ff0000;"></i><span class="">For Review</span>
            </div>
        </div>
        <div class="fakeHrPurple w-100"></div>
        <div class="my-3">
            <div class="d-flex justify-content-center">
                <div class="grid-box-container">
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">1</span><i class="fa-solid fa-bookmark position-absolute top-0 end-0" style="color: #ff0000;"></i></div>
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">2</span><i class="fa-solid fa-bookmark position-absolute top-0 end-0" style="color: #ff0000;"></i></div>
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">3</span><i class="fa-solid fa-bookmark position-absolute top-0 end-0" style="color: #ff0000;"></i></div>
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">4</span><i class="fa-solid fa-bookmark position-absolute top-0 end-0" style="color: #ff0000;"></i></div>
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">5</span></div>
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">6</span></div>
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">7</span></div>
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">8</span></div>
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">9</span></div>
                    <div class="MFR-solid-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-solid">10</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">11</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">12</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">13</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">14</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">15</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">16</span><i class="fa-solid fa-location-dot position-absolute top-0 start-50 translate-middle" style="color: #bfa965;"></i></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">17</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">18</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">19</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">20</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">21</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">22</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">23</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">24</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">25</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">26</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">27</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">28</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">29</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">30</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">31</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">32</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">33</span></div>
                    <div class="MFR-dashed-box position-relative"><span class="position-absolute top-50 start-50 translate-middle box-num-dashed">34</span></div>
                </div>
            </div>
        </div>
        <footer class="d-flex justify-content-center align-content-center my-3">
            <button>Go to Review Page</button>
        </footer>
    </div>
</body>
</html>